/* Estilizações gerais do site */
@font-face {
   font-family: "Sofia Pro";
   src: url("../fontes/Sofia-Pro-Light-Az.otf");
}

@font-face {
  font-family: "Sofia Pro";
  src: url("../fontes/Sofia-Pro-Bold-Az.otf");
  font-weight: 600;
}

:root{
  --gradiente:linear-gradient(270deg, #1192C9 1.12%, #F20DB2 80.77%);
}

html{
  height: 100%;
  
}

html::-webkit-scrollbar {
  width: 5px; 
}

html::-webkit-scrollbar-track {
background-color: #191919;
}

html::-webkit-scrollbar-thumb {
background: #F20DB2;
border-radius: 25px;
}


*{
  margin:0;
  padding: 0;
}

body{
  height:100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: var(--gradiente);
  font-family: 'Sofia Pro', sans-serif;
  /* overflow: hidden; */
}

a{
  text-decoration: none;
}



/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */


/* Estilizações do menu */

.navbar img{
  scale: 2;
}

.nav-item{
  text-align: right;
}
.nav-link{
  color:#fff;
  margin: .5rem;
}

.navbar a:hover{
  color: #fff !important;
  background-color: #191919;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}

.nav-item:hover{
  color: #191919;
}

svg{
  stroke:white;
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */


/* Estilizações do Header  */

#topo{
  background-image: url('../imagens/divs/transformacao.png');
  background-size: cover;
  min-height: 100vh;
}

header img{
  width: 40vw;
  margin-top: 30vh;
}


.inscrevase{
  background: linear-gradient(267.72deg, #2F80ED 0%, #77B1FF 99.98%);;
  margin: 1rem 0;
  padding: .5rem 2rem;
  transition: all .2s ease-out;
}

.inscrevase:hover {
  box-shadow: 0 1em 0.5em -0.4em #1192C9;
  transform: translateY(-0.25em);
  
}

.inscrevase-text{
  color:white;
  /* transition: background-image 1s ease-out; */
}

#titulo-header{
  margin-bottom: 15rem;
}

.instituicoes{
  background-color: #000;
}

.instituicoes img{
  max-height: 300px;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */


#transformacao {
  background-image: url('../imagens/divs/transformacao.png');
  background-size: cover;

  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end; */
}

.transformacao img{
  margin: 2rem;
}


.sobre-evento{
  color:white;
  background: linear-gradient(0deg, #9446BA 0%, #000000 100%);
}

.sobre-evento{
  width:100%;
}

.cronograma,footer{
  background-color: #232323 ;
}

.palestrantes{
  background-color: #191919;
}

#palestrante{
  background-color: #232323;
}

.titulo{
  font-size: 24px;
  letter-spacing: 0.25rem;
}

.sobre-evento img{
  width: 50%;
  padding: 0;
}

.div-imagem{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vw;
  background: linear-gradient(0deg, #9446BA 0%, #232323 100%);
}

.div-imagem img{
  width: 70%;
}

#cerebro{
background-image: url('../imagens/divs/crebro.png');
background-position: center center;
background-size: 120%;

}

#logo{
  background-color: #191919;
}

#logo img{
  width: 20%;
}

.comentarios{
  background-color: #fff;
}


/* ini: Preloader */
 
#preloader {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#191919; /* cor do background que vai ocupar o body */
  z-index:999; /* z-index para jogar para frente e sobrepor tudo */
}
#preloader .inner {
  position: absolute;
  top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
  left: 50%;
  transform: translate(-50%, -50%);  
}
.bolas > div {
display: inline-block;
background-color: #fff;
width: 25px;
height: 25px;
border-radius: 100%;
margin: 3px;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
animation-name: animarBola;
animation-timing-function: linear;
animation-iteration-count: infinite;
 
}
.bolas > div:nth-child(1) {
  animation-duration:0.75s ;
  animation-delay: 0;
}
.bolas > div:nth-child(2) {
  animation-duration: 0.75s ;
  animation-delay: 0.12s;
}
.bolas > div:nth-child(3) {
  animation-duration: 0.75s  ;
  animation-delay: 0.24s;
}

@keyframes animarBola {
0% {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
16% {
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  opacity: 0.7;
}
33% {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1; 
} 
}
/* end: Preloader */


.cronometro .tempo{
  width: 7rem;
  height: 7rem;
  background-color: rgba(0,0,0,0.25);
  border-radius: 50%;
  font-size: 42px;
}

.cronometro .tempo p{
  margin-bottom: 0;
}

.tempo-p{
  letter-spacing: 0.25em;
}