/* Estilizações gerais do site */

@font-face {
	font-family: "Sofia Pro";
	src: url("../assets/fontes/Sofia-Pro-Light-Az.otf");
	font-display: swap;
}

@font-face {
	font-family: "Sofia Pro ";
	src: url("../fontes/Sofia-Pro-Bold-Az.otf");
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("../assets/fontes/helvetica-neue.ttf");
	font-display: swap;
}

:root {
	--gradiente: linear-gradient(270deg, #1192C9 1.12%, #F20DB2 80.77%);
}

html {
	height: 100%;
}

html::-webkit-scrollbar {
	width: 7px;
}

html::-webkit-scrollbar-track {
	background-color: #191919;
}

html::-webkit-scrollbar-thumb {
	background: #F20DB2;
	border-radius: 25px;
}

* {
	margin: 0;
	padding: 0;
}

.nowrap {
	white-space: nowrap;
}

.btn {
	white-space: normal;
}

body {
	height: 100%;
	margin: 0;
	background: linear-gradient(0deg, #4A1564 0%, #000000 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: hidden;
	font-family: 'Helvetica Neue', sans-serif;
}

a:hover,
a:visited,
a:link,
a:active {
	text-decoration: none;
	color: #fff;
}

.sofia {
	font-family: 'Sofia Pro', sans-serif;
}


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.transparente {
	color: rgba(255, 255, 255, 0.5);
}

.texto-trans {
	color: rgba(0, 0, 0, .5);
}


/* Estilizações do menu */

.navbar img {
	scale: .8;
}

.nav-item {
	text-align: right;
}

.nav-link {
	color: #fff;
	margin: .5rem;
}

.navbar a:hover {
	color: #fff !important;
	background-color: #191919;
	border-radius: 5px;
	transition: all .2s ease-in-out;
}

.nav-item:hover {
	color: #191919;
}

svg {
	stroke: white;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */


/* Estilizações do Header  */

#topo {
	background-image: url('../imagens/divs/plasma-header.webp');
	background-size: cover;
	min-height: 100vh;
}

.texto-azul {
	color: #2F80ED !important;
}

header p#titulo {
	font-size: 3.5rem;
}

header p {
	color: rgba(255, 255, 255, .5) !important;
}

#titulo-header {
	margin: 13rem 0;
}

.inscrevase {
	background: linear-gradient(267.72deg, #2F80ED 0%, #77B1FF 99.98%);
	margin: 1rem 0;
	padding: .5rem 2rem;
	transition: all .2s ease-out;
	border: none;
}

.inscrevase2 {
	background: linear-gradient(267.72deg, #2F80ED 0%, #77B1FF 99.98%);
	padding: .10rem 1rem;
	transition: all .2s ease-out;
	height: 3rem;
	font-size: 18px;
}



.inscrevase2:hover,
.inscrevase:hover {
	box-shadow: 0 1em 1.5em -0.4em #77b2ff81;
	transform: translateY(-0.25em);
}

.inscrevase-text {
	color: white;
	/* transition: background-image 1s ease-out; */
}

.instituicoes {
	background-color: #000;
}

.instituicoes img {
	max-height: 300px;
}


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

#transformacao {
	background-image: url('../imagens/divs/transformacao.png');
	background-size: cover;
	/* display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end; */
}

.transformacao img {
	margin: 2rem;
}

.sobre-evento {
	color: white;
	background: linear-gradient(0deg, #4A1564 0%, #000000 100%);
}

.sobre-evento {
	width: 100%;
}


/* configurações do cronograma */

footer {
	background-color: #191919;
}

.cronograma {
	background-color: #232323;
}

.cronograma img {
	border-radius: 10px;
}

.letter-spacing-25 {
	letter-spacing: 0.25rem;
}

.font-12 {
	font-size: 12px;
}


/* Configurações de palestrantes  */

/* .palestrantes {
	background-color: #191919;
}

#palestrante {
	background-color: #232323;
	border-radius: 15px;
}

#palestrante img {
	border-radius: 10px;
} */

.titulo {
	font-size: 18px;
	letter-spacing: 0.25rem;
}

.sobre-evento img {
	width: 50%;
	padding: 0;
}

.div-imagem {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 70vw;
	background: linear-gradient(0deg, #8842a8 0%, #4A1564 100%);
}

.div-imagem h1 {
	font-size: 50px;
}

#cerebro {
	background-image: url('../imagens/divs/crebro.png');
	background-position: center center;
	background-size: 120%;
}

#logo {
	background-color: #191919;
}

#logo img {
	width: 20%;
}

.comentarios {
	background-color: #fff;
}


/* ini: Preloader */

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #191919;
	/* cor do background que vai ocupar o body */
	z-index: 999;
	/* z-index para jogar para frente e sobrepor tudo */
}

#preloader .inner {
	position: absolute;
	top: 50%;
	/* centralizar a parte interna do preload (onde fica a animação)*/
	left: 50%;
	transform: translate(-50%, -50%);
}

.bolas>div {
	display: inline-block;
	background-color: #fff;
	width: 25px;
	height: 25px;
	border-radius: 100%;
	margin: 3px;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-name: animarBola;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.bolas>div:nth-child(1) {
	animation-duration: 0.75s;
	animation-delay: 0;
}

.bolas>div:nth-child(2) {
	animation-duration: 0.75s;
	animation-delay: 0.12s;
}

.bolas>div:nth-child(3) {
	animation-duration: 0.75s;
	animation-delay: 0.24s;
}

@keyframes animarBola {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
	16% {
		-webkit-transform: scale(0.1);
		transform: scale(0.1);
		opacity: 0.7;
	}
	33% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}


/* end: Preloader */


/* Configurações do Cronometro */

.cronometro .tempo {
	width: 7rem;
	height: 7rem;
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	font-size: 42px;
}

.cronometro .tempo p {
	margin-bottom: 0;
}

.tempo-p {
	letter-spacing: 0.25em;
}


/* Configurações do botão de ScrollTop */

#scrollBtn {
	display: inline-block;
	background-color: #F20DB2;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color .3s, opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
}

#scrollBtn::after {
	content: "\f077";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 50px;
	color: #fff;
}

#scrollBtn:hover {
	cursor: pointer;
	background-color: #333;
}

#scrollBtn:active {
	background-color: #555;
}

#scrollBtn.show {
	opacity: 1;
	visibility: visible;
}


/* estilo da animação dos elementos */

.animacao-l {
	opacity: 0;
	transform: translate3d(-100px, 0, 0);
	transition: .8s;
}

.animacao-r {
	opacity: 0;
	transform: translate3d(100px, 0, 0);
	transition: .8s;
}

.animacao-t {
	opacity: 0;
	transform: translate3d(0, -50px, 0);
	transition: .65s;
}

.animacao-b {
	opacity: 0;
	transform: translate3d(0, 50px, 0);
	transition: .65s;
}

.animacao-s {
	opacity: 0;
	transform: translate3d(0, 0, 100px);
	transition: .65s;
}

.animacao-start {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}


/* Configurações da Organização */

.organizacao {
	background-color: #212121;
}


/* Estilos da pǵina de inscrição */

#topo-2 {
	background-image: url("../imagens/divs/espaço.png");
	background-repeat: no-repeat;
	min-height: 100vh;
	background-size: 130%;
}

#topo-2 h1 {
	margin: 8rem 0 !important;
}

#topo-2 .espaco img {
	-webkit-animation: MoveUpDown 1.5s linear infinite;
}

@-webkit-keyframes MoveUpDown {
	from {
		transform: translate3d(0, -50px, 0);
		opacity: 1;
	}
	to {
		transform: translate3d(0, 50px, 0);
		opacity: 0;
	}
}

.inscricao {
	background: linear-gradient(0deg, #4A1564 0%, #000000 100%);
}

.card-site {
	background: linear-gradient(267.72deg, #2f81ed83 0%, #77b2ff81 99.98%);
	min-height: 180px;
	border-radius: 10px;
	transition: all .5s ease-in-out;
}

.card-site h4 {
	opacity: 1;
}

.card-site:hover {
	cursor: help;
	background: linear-gradient(267.72deg, #2f81ed 0%, #77b2ff 99.98%);
}


/* pagina de normas de envio */

.normas .container {
	background-color: #f1f1f1;
	border-radius: 15px;
	box-shadow: 0px -36px 21px rgba(0, 0, 0, 0.49);
}

.terra {
	background-image: url("../imagens/divs/Earth.png");
	min-height: 45vh;
	background-repeat: no-repeat;
	background-position: 50% 0;
}


/* Estilos da página de dúvidas */

.card {
	border: none;
	border-radius: 10px;
}

.card-header {
	padding: .5rem !important;
}

.card .pergunta {
	background: linear-gradient(267.72deg, #2F80ED 0%, #77B1FF 99.98%);
	min-height: 110px;
	border-radius: 10px;
}

.card .btn-link:hover {
	text-decoration: none;
}

.card .pergunta h5 button {
	font-size: 1.25rem !important;
}


/* Estilização da página de downlaod */

.download .coruja {
	font-size: 20px;
}


/* areas temáticas */

.areas-tematicas .container .row p {
	border-radius: 10px;
	border: 2px solid #1192C9;
	max-height: 80px;
	width: 100%;
	font-weight: 300;
}

.areas-tematicas .row {
	min-height: 300px;
}

.descricaoarea,#cronograma-datas {
	border-radius: 10px;
	border: 2px solid #1192C9;
	height: 100%;
	width: 100%;
}

.descricaoarea .area-titulo {
	border-top: none !important;
	border-right: none !important;
	border-left: none !important;
}

.descricaoarea ul li {
	font-size: 14px;
}


/* estilo da página cronograma */
#cronograma-datas .crono .row{
	border-top: 2px solid #1192c9;
}


#cronograma-datas .crono .crono-primeiro{
	border: none;
}
/*
.modal-content{
	border: 1px solid #cd60ff;
}

.modal-header{
	border-bottom-color: #d68cf8;
}

.modal-body,.modal-header
{
	background-color: #191919 !important;
	color:white !important;
	
}

.modal-header span{
	color: #FFF !important;
}

.close{
	font-size: 2rem;
	opacity: .8;
}
*/
.img2{
	max-width: 10vw;
}