/* Estilizações gerais do site */

:root{
  --gradiente:linear-gradient(270deg, #1192C9 1.12%, #F20DB2 80.77%);
}

html{
  height: 100%;
}

html::-webkit-scrollbar {
  width: 5px; 
}

html::-webkit-scrollbar-track {
background-color: #191919;
}

html::-webkit-scrollbar-thumb {
background: #F20DB2;
border-radius: 25px;
}


*{
  margin:0;
  padding: 0;
}

body{
  height:100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: var(--gradiente);
}

a{
  text-decoration: none;
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */


/* Estilizações do menu */

.navbar img{
  scale: 2;
}

.nav-item{
  text-align: right;
}
.nav-link{
  color:#fff;
  margin: .5rem;
}

.navbar a:hover{
  color: #fff !important;
  background-color: #191919;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}

.nav-item:hover{
  color: #191919;
}

svg{
  stroke:white;
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */


/* Estilizações do Header  */

header{
  /* margin: 5rem 2rem; */
  background-image: url('../imagens/esferas.svg');
  background-repeat: no-repeat;
  background-position:80% 25%;
  background-size: 25vw ;
}

header img{
  width: 70vw;
}

.inscrevase{
  background-color: #191919;
  margin: 2rem 0;
  transition: all 1s ease-out;
}

.inscrevase:hover{
  background-color: black;
}

.inscrevase:hover .inscrevase-text{
  background-image: var(--gradiente);
  -webkit-background-clip: text;
    color: transparent;
}

.inscrevase-text{
  background-image: linear-gradient(270deg, #1192C9 1.12%, #F20DB2 80.77%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  transition: background-image 1s ease-out;
}

.instituicoes img{
  /* width: 100vw; */
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */


#transformacao {
  background-image: url('../imagens/divs/transformacao.png');
  background-size: cover;
  min-height: 80vw;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end; */
}

.transformacao img{
  margin: 2rem;
}
.sobre-evento,.cronograma{
  background-color: white;
  width:100%;
}

.sobre-evento .titulo{
  font-size: 32px;
}

.sobre-evento img{
  width: auto;
  padding: 0;
}

.div-imagem{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#cerebro{
background-image: url('../imagens/divs/crebro.png');
min-height: 70vw;
}