/* media query para dispositivos que tenham até 900px */
@media screen and (min-width: 900px) {
	
}

/* media query para dispositivos que tenham entre 600 e 900px */
@media screen and (min-width: 600px) and (max-width: 900px) {
  header h1{
    font-size: 4rem;
  }
  #titulo-header{
    margin: 15rem 0;
  }

  .navbar-brand{
    margin-left: 0 !important;
}
  #topo{
    background-position: 50% 80%;
  }
  .terra{
    min-height: 30vh;
  }

  #topo-2 h1{
    margin: 5rem 0 !important;
  }

  #topo-2{
    min-height: 25vh !important;
  }

  #topo-2 .espaco .row .col{
    margin: 2rem !important;
  }

  .organizacao .row .col-md-6{
   align-items: flex-start !important;
   
  }

  .navbar-brand, .navbar-brand img{
    margin: 0 !important;
  }

}


/* media query para dispositivos que tenham até 600px */
@media screen and (max-width: 600px) {
	
}

/* media query para dispositivos que tenham até 480px (iphone) */
@media screen and (max-device-width: 480px) {
  header h1{
    font-size: 2.5rem;
  }

  
  #titulo-header{
    margin: 15rem 0; 
  }
  #titulo-header .btn{
    margin-top: 3rem !important;
  }

  .navbar-brand{
      margin-left: 0 !important;
  }
  .navbar-brand img{
    max-width: 70vw;
  }

  .sobre-evento .row{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .instituicoes .container .row div{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .instituicoes .container .row div p{
    font-size: 14px;
    margin-bottom: 1rem !important;
  }

  .instituicoes .container .row div img{
    margin-bottom: 1rem !important;
  }


  .cronometro .tempo{
    width: 4rem;
    height: 4rem;
    font-size: 32px;
  }
  
  .tempo-p{
    font-size: 10px;
  }

  #palestrante{
    padding: 12px;
    margin:0 15px ;
  }

  #palestrante p{
    margin-top: 12px;
  }

  #topo{
    background-position: 50% 80%;
  }
  .terra{
    min-height: 20vh;
  }
	

  #topo-2{
    background-image: url(../imagens/divs/14\ 2.png);
    background-position: 50% 80%;
    background-size: 200%;
  }

  #topo-2 h1{
    font-size: 28px;
  }

  .inscricao h4{
    font-size: 16px;
  }


  .inscricao h1{
    font-size: 24px;
  }

  .card-site h4 {
    font-size: 28px;
  }

  .organizacao .row .col-md-6{
    align-items: flex-start !important;
    margin-top: 1rem;
   }

   footer .col-md-12{
    align-items: flex-start !important;
   }

   .organizacao .row .col-md-6{
    align-items: flex-start !important;
    
   }
 
   .navbar-brand, .navbar-brand img{
     margin: 0 !important;
   }
}